extends layout

block content
  h1= title
  p Ruty: <br/>GET /meetings - lista wszystkich zarejestrowanych spotkan, <br/> GET /vote/xxxx - średnia glosów oddanych podczas spotkania o kodzie xxxx, <br/> GET /meeting/xxx - sprawdzenie czy istnieje dane spotkanie, <br/> POST /vote - dodanie glosu o podanych parametrach, <br/> POST /meeting - dodanie nowego spotkania, meetingCode ma byc generowany przez serwerek.