extends layout

block content
  h1= title
  p Ruty: <br/>GET /meetings - lista wszystkich zarejestrowanych spotkan, <br/> GET /votes/xxxx - glosy oddane podczas spotkania o kodzie xxxx, <br/> POST /addVote - dodanie glosu o podanych parametrach, <br/> POST /addMeeting - dodanie nowego spotkania, meetingCode ma byc generowany przez serwerek.