html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;

	/* Disable text selection. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.pane {
	display: block;
	margin: 10px auto 10px auto;
	border: 0px solid #EEEEEE;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	clear: both;
	width: 280px;
	padding: 10px 10px 10px 10px;
}

header {
	background: #FF7F00; /*#FF7744;*/
	color: #EEEEEE;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#info {
	background: #222222;
	line-height: 1.5em;
}





/* White icons with optional class, or on hover/active states of certain elements */


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

legend small {
  font-size: 15px;
  color: #999999;
  text-align: center;
}

label,
input,
select,
table,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input,
select,
td,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}



button{
border-color:#D1D1D1;border-width: 1px 1px 5px 1px;border-style: solid; -webkit-border-radius: 11px; -moz-border-radius: 11px;border-radius: 11px;font-size:17px;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(255,255,255,1);font-weight:bold; color: #242424;
 background-color: #ffc579; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);

   position:absolute;
    left: 45%;
 
 }

button:hover{
 border-color:#B5AEA8;border-width: 1px 1px 5px 1px;border-style: solid;
 background-color: #ffaf46; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
 background-image: linear-gradient(to bottom, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
	text-align: center;
    
   
 }

}

